@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


.BannerBar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 43px;
    flex-shrink: 0;

    img {
        width: 100%;
        height: 223px;
        overflow: hidden;
        object-fit: cover;
        border-radius: 20px;
        filter: brightness(50%);
    }

    p {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 48px;
        font-style: normal;
        position: absolute;
        color: white;
        z-index: 1;
        -webkit-text-stroke-width: 1;
        -webkit-text-stroke-color: #000;

    }
}

.footerbar {
    display: flex;
    justify-content: center;
    background-color: black;
    flex-direction: column;
    align-items: center; /* Centre les éléments horizontalement et verticalement */
    padding-top: 66px;
    padding-bottom: 29px;

    img {
      max-width: 100%; /* Assure que l'image ne dépasse pas sa taille d'origine */
      height: auto; /* Maintient le ratio hauteur/largeur de l'image */
      /* background-color: white; */ /* Ce commentaire est incorrect, ne s'applique pas à une image */
    }

    p {
        font-family: "Montserrat", sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        color: white;
        text-align: center; /* Centre le texte horizontalement */
        margin: 0;
        padding-top: 24px;
    }
}

.Navbar {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 45px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;

    ul {
        display: flex;
        flex-direction: row;
        gap: 57px;
        
        li {
          display: flex;
          flex-direction: row;
          font-size: 24px;
          font-style: normal;
          font-weight: 500;
        }
    } 

}

.CardsContainer {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;

}

.Card {

  width: 340px;
  height: 340px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover; // Pour que l'image couvre la carte sans se déformer
        border-radius: 8px; // Bordure arrondie si nécessaire
        object-fit: cover;
    }


    p {
        position: absolute;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        color: white;
        font-family: 'Montserrat', sans-serif; // Utilisation de la police Montserrat
        border-bottom-left-radius: 8px; // Bordure arrondie bas-gauche
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
        bottom: 10px;
        left: 10px;
        margin:0;
        word-wrap: break-word;
        width: 50%;
        padding: 10px;
    }
    
}

.Cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 60px;
    border-radius:  25px;
    background: #F6F6F6;
    padding-top: 56px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 43px;

}

.AccordionContent {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:space-between ;
    background-color: #FF6060;
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;


    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 1000px;
    }



    svg {
        z-index: 1;
        margin-left: 10px;
    }

    h2 {
      margin: 0;
    }
    

}

.AccordionText {

    padding: 20px;
    border-radius: 10px 10px 5px 5px;
    background: var(--Gray, rgba(246, 246, 246, 0.45));

}

.slideshow {
    position: relative;
    width: 100%;
    overflow: hidden;
  
    &-slides {
      display: flex;
      transition: transform 0.5s ease-in-out;
    }
  
    &-slide {
      min-width: 100%;
      transition: opacity 0.5s ease-in-out;
  
      &.active {
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
      }
    }
    img {
      width: 100%;
      height: 800px;
      flex-shrink: 0;
      object-fit: cover;
      border-radius: 25px;
    }
  
    button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      border: none;
      padding: 10px;
      cursor: pointer;
  
      &:focus {
        outline: none;
      }
  
      &:first-of-type {
        left: 10px;
      }
  
      &:last-of-type {
        right: 10px;
      }
    }
  }
  
.info-content {
  display: flex;
  flex-direction: column;
}

.titleUser {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  h2 {
    margin: 0;
    color: #FF6060;
    font-family: Montserrat;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
  }
}

.NamePicture {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  margin-top: 20px;

  p{
  color: #FF6060;
  text-align: right;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  margin: 0;
  }
}

.userPicture {
  border-radius: 50%;
  object-fit: cover;
  width: 100px;
  height: 100px;

}

.Logement {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
}
.LogementAccordeon {
  display: flex;
  flex-direction: row;
  gap: 76px;
  align-items: center;
  justify-content: space-between;
}

.Layout404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 139px;

  h1 {
    color: #FF6060;
    text-align: center;
    font-family: Montserrat;
    font-size: 288px;
    font-style: normal;
    font-weight: 700;
    margin: 0;
    padding-top: 139px;
  }
}

.PageUnfound {
  color: #FF6060;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  margin: 0;
}

.PageReturn {
  color: #000;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  text-decoration-line: underline;
  text-align: center;
  padding-bottom: 139px;
  margin: 0;
}

.Accordion {
  width: 100%;
}

.location {
  p {
    margin: 0;
    color: #000;
    font-family: Montserrat;
      font-size: 20px;
    font-style: normal;
    font-weight: 500;
    padding-top: 2px;
    padding-bottom: 30px;
  }
}

.tagStar {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  align-items: center;

  .stars {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding-bottom: 30px;
  }

  .TagContent {
    display: flex;
    flex: row;
    gap: 5px;
    padding-bottom: 30px;
    p{
      display: flex;
      margin: 0;
      width: 115px;
      height: 25px;
      flex-shrink: 0;
      justify-content: center;
      background-color: #FF6060;
      border-radius: 10px;
      color: #FFF;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;

    }
  }
}

.stars .fa-star {
  font-size: 30px;
  color: #E3E3E3; /* Couleur des étoiles non remplies */
}

.stars .fa-star.filled {
  color: #FF6060; /* Couleur des étoiles remplies */
}

.AboutAccordion {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 38px;
  align-items: center;
  .Accordion {
    width: 70%;
  }
}
