@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


.BannerBar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 43px;
    flex-shrink: 0;

    img {
        width: 100%;
        height: 223px;
        overflow: hidden;
        object-fit: cover;
        border-radius: 20px;
        filter: brightness(50%);
    }

    p {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 48px;
        font-style: normal;
        position: absolute;
        color: white;
        z-index: 1;
        -webkit-text-stroke-width: 1;
        -webkit-text-stroke-color: #000;

    }
}

.footerbar {
    display: flex;
    justify-content: center;
    background-color: black;
    flex-direction: column;
    align-items: center; /* Centre les éléments horizontalement et verticalement */
    padding-top: 66px;
    padding-bottom: 29px;

    img {
      max-width: 100%; /* Assure que l'image ne dépasse pas sa taille d'origine */
      height: auto; /* Maintient le ratio hauteur/largeur de l'image */
      /* background-color: white; */ /* Ce commentaire est incorrect, ne s'applique pas à une image */
    }

    p {
        font-family: "Montserrat", sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        color: white;
        text-align: center; /* Centre le texte horizontalement */
        margin: 0;
        padding-top: 24px;
    }
}

.Navbar {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 45px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;

    ul {
        display: flex;
        flex-direction: row;
        gap: 57px;
        
        li {
          display: flex;
          flex-direction: row;
          font-size: 24px;
          font-style: normal;
          font-weight: 500;
        }
    } 

}

.CardsContainer {
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px;
    border-radius: 25px;

    a.link {
    }

}

.Card {
  padding-bottom: 56px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 43px;
  width: 340px;
  height: 340px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover; // Pour que l'image couvre la carte sans se déformer
        border-radius: 8px; // Bordure arrondie si nécessaire
    }


    p {
        position: absolute;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        bottom: 0;
        left: 0;
        padding: 10px; // Ajustez selon vos besoins
        color: white;
        font-family: 'Montserrat', sans-serif; // Utilisation de la police Montserrat
        border-bottom-left-radius: 8px; // Bordure arrondie bas-gauche
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    }
    
}

.Accordion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-bottom: 38px;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 1000px;
    }

    h2 {
        background-color:#FF6060 ;
        margin: 0;
        width: 1250px;

    }

    svg {
        z-index: 1;
        margin-left: 10px;
    }

}

// Carousel //

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
  
    &-slides {
      display: flex;
      transition: transform 0.5s ease-in-out;
    }
  
    &-slide {
      min-width: 100%;
      transition: opacity 0.5s ease-in-out;
  
      &.active {
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
      }
  
      img {
        width: 100%;
        display: block;
      }
    }
  
    button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      border: none;
      padding: 10px;
      cursor: pointer;
  
      &:focus {
        outline: none;
      }
  
      &:first-of-type {
        left: 10px;
      }
  
      &:last-of-type {
        right: 10px;
      }
    }
  }
  